@media screen and (max-width : 760px){

 .menu-primary input{
   display: none;
 }

	.menu-secundary ul {
		position: static;
		display: none;
	}

  .button-mobile{
    display:inline-block;

  }
  #res-button{
    display:block;
     padding-top: 1.1em;
     padding-left: 1.1em;
      width:25px;
  }
  #res-nav{

      float:left;
      background: #1d9437;
      margin-top: 1.2em;

  }
  #res-ul{
  float:right;
    background: #1d9437;
    font-size: 1.2em;
    margin-top: 2.3em;
    margin-left: 4.3em;
    height:340px;
    width: 21em;

  }
  #res-nav li{
float:left;
width: 21em;
  }
}
